
.post {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4d35e;
    box-shadow: 0 4px 8px 0 rgba(1, 162, 255, 0.2);

}
.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4d35e;
    box-shadow: 0 4px 8px 0 rgba(1, 162, 255, 0.2);
    
}

.bttn{
    background-color: #ffc800;
    color: #000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(1, 162, 255, 0.2);
}
.btttn{
    background-color: #000000;
    color: #000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(1, 162, 255, 0.2);
}

.bttn:hover {
    background-color: #00ff00;
    color: #000;
}


.f-d{
    display: flex;
    flex-direction: column;     
}
.ant-select.ant-select-outlined.ant-pagination-options-size-changer.css-dev-only-do-not-override-1kuana8.ant-select-single.ant-select-show-arrow.ant-select-show-search {
    display: none;
}